#blacklist everything
*

#creates whitelist

files
!.gitignore
!README.md
!.vimrc
!.vundle
!.bashrc
!.workrc
!.bash_profile
!.tmux.conf
!.gitconfig
!.tmuxinator.bash
!.profile
!.*md
!.txt
!.bin


#folders
!.tmuxinator/

#vim
!.vim/
.vim/bundle/*
.vim/bundle/Vundle.vim
