[user]
	name = Christopher MCAdams
	email = mca.christopher@gmail.com
[web]
	browser = chrome
[push]
	default = simple
[alias]
    co = checkout
    mismatch = ls-files -u
    del = branch -D
    remotedel = push origin --delete
    pullr = pull --rebase
[help]
	browser = chrome
[auto]
	crlf = false
[core]
	fileMode = false
	autocrlf = input
